{% extends "easy_upload/base.html" %}
{% load static %}
{% block content %}
{% load auth_extras %}

<h2>Branchwise Student Feedbacks Pending</h2>

<div style="" class="card mt-4">

  <div class="m-3">
    <canvas id="myChart-feedback-complete" style="height: 180px; width: 100%;"></canvas>
  </div>


  <div class="content m-2">
    <div class="row justify-content-center m-2">
      {% for dept, count in completed.items %}
        <a class="col-lg-2 m-2 card" style="background-color: #304878;" href="{% url 'student-pending' dept_name=dept %}" target="_blank"> 
          <strong style="color: #eaecf1;">{{ dept }}:</strong> 
          <span class='numscroller text-center' style="font-size: 40px; color: #fafafa;" data-min='0' data-max='{{ count }}' data-delay='5' data-increment='2'>
            {{ count }}
          </span>
        </a>
      {% endfor %}
      <div class="col-lg-2 m-2 card" style="background-color: #2851CC;"> 
        <strong style="color: #eaecf1;">Total Pending:</strong> 
        <span class='numscroller text-center' style="font-size: 40px; color: #fafafa;" data-min='0' data-max='{{ total }}' data-delay='5' data-increment='3'>
          {{ total }}
        </span>
      </div>
    </div>
  </div>

</div>
<div class="line"></div>

{% if request.user.is_faculty or request.user.is_hod %}
  <div class="row justify-content-center">
    {% for rep, value in report.items %}
      {% if rep and value %}
        <div class="card p-2 col-lg-5 m-1">
          <h5 class="text-center mb-1">{{rep.title}}</h5>
          <hr>
          <canvas id="report-{{rep.id}}" style="height: 320px; width: 100%;"></canvas>
          <a href="{% url 'teacher_previous_reports' id=rep.id %}" class="text-center mt-3" style="font-size: 12px;" target="_blank">View report</a>
        </div>
      {% endif %}
    {% endfor %}

    {% if teaches %}
      <div class="card p-2 col-lg-12 m-1 mt-4">
        <h5 class="text-center mb-1">Your subjects for the current feedback</h5>
          <hr>
        <div class="table-responsive table-hover">
          <table class="table">
            <thead>
              <tr>
                <td>DEPARTMENT</td>
                <td>SEMESTER</td>
                <td>SECTION</td>
                <td>BATCH</td>
                <td>SUB BATCH</td>
                <td>SUBJECT</td>
                <td>UG/PG</td>
                <td>COUNT</td>
              </tr>
            </thead>
            <tbody>
                {% for teach in teaches %}
                  <tr valign="middle">
                    <td>{{teach.department}}</td>
                    <td>{{teach.sem}}</td>
                    <td >{{teach.sec}}</td>
                    {% if teach.batch %}
                      <td>{{teach.batch}}</td>
                    {% else %}
                      <td>-</td>
                    {% endif %}
                    {% if teach.sub_batch %}
                      <td>{{teach.sub_batch}}</td>
                    {% else %}
                      <td>-</td>
                    {% endif %}
                    <td>{{teach.subject.name}}</td>
                    {% if teach.ug %}
                      <td>UG</td>
                    {% else %}
                      <td>PG</td>
                    {% endif %}
                    <td>{{teach.count}}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="text-center" style="font-size: 12px;">
          Note: If you find any discrepancies, please contact the feedback admin of {{request.user.department.full_name}} department.
        </p>
      </div>
    {% endif %}
  </div>
{% endif %}

{% if request.user|has_group:"feedback_admin" %}
  <h2 class="mt-4">Sequence of uploading file</h2>
  <p>Always follow the following sequence while uploading data. Use this portal only to upload bulk data and use <a>admin</a> to do any kind of modifications. Download the CSV files from the link provided below. Make sure you follow the exact same format for uploading.</p>
  <p>Please contact Administrator if you face any problems.</p>
  {% if request.user.department.test_mode %}
    <p>The<span style="color: #ff0000;"> Test Mode is on</span>. Please make sure the test mode is off if the process has already started. Test mode stops saving answers and is only used for testing. This also stops you from sending messages.</p>
  {% endif %}

  <div class="row justify-content-center text-center">
    <div class="col-lg-3 card shadow-sm m-1 p-2">
      <a href="{% url "easy_upload_subject" %}"><h4>Subjects</h4></a>
      <a href="{% static 'csv/subjects.csv' %}">
        <small>Download example csv file</small>
      </a>
    </div>
    <div class="col-lg-1 m-3 d-lg-block d-none arrow">
      <i class="fas fa-arrow-circle-right"></i>
    </div>
    <div class="col-lg-1 m-3 d-block d-lg-none arrow">
      <i class="fas fa-arrow-circle-down"></i>
    </div>
    <div class="col-lg-3 card shadow-sm m-1 p-2">
      <a href="{% url "easy_upload_users" %}"><h4>Users</h4></a>
      <a href="{% static 'csv/users.csv' %}">
        <small>Dowbload example csv file</small>
      </a>
    </div>
    <div class="col-lg-1 m-3 d-lg-block d-none arrow">
      <i class="fas fa-arrow-circle-right"></i>
    </div>
    <div class="col-lg-1 m-3 d-block d-lg-none arrow">
      <i class="fas fa-arrow-circle-down"></i>
    </div>
    <div class="col-lg-3 card shadow-sm m-1 p-2">
      <a href="{% url "easy_upload_teaches" %}"><h4>Teaches</h4></a>
      <a href="{% static 'csv/teaches.csv' %}">
        <small>Download example csv file</small>
      </a>
    </div>
  </div>

  <div class="line"></div>

  <div>
    <p>You can validate your uploads using <a href="{% url "easy_upload_test" %}">this link</a>.</p>
  </div>
{% endif %}

<script>
  var ctx = document.getElementById('myChart-feedback-complete').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [{% for dept, count in completed.items %}'{{ dept }} ({{count}})',{% endfor %}],
          datasets: [{
              label: 'Feedback',
              data: [{% for dept, count in completed.items %}{{ count }},{% endfor %}],
              backgroundColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(26,206,197, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(242, 93, 12, 1)',
                  'rgba(15, 136, 172, 1)',
                  'rgba(255, 50, 50, 1)',
                  'rgba(174, 254, 87, 1)',
                  'rgba(62, 54, 109, 1)',
                  'rgba(255, 255, 1, 1)',
                  'rgba(0, 255, 0, 1)',
                  'rgba(255, 0, 255, 1)',
              ],
              borderColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(26,206,197, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(242, 93, 12, 1)',
                  'rgba(15, 136, 172, 1)',
                  'rgba(255, 50, 50, 1)',
                  'rgba(174, 254, 87, 1)',
                  'rgba(62, 54, 109, 1)',
                  'rgba(255, 255, 1, 1)',
                  'rgba(0, 255, 0, 1)',
                  'rgba(255, 0, 255, 1)',
              ],
              borderWidth: 1
          }]
      },
      
  });
  Chart.plugins.register({
        afterDatasetsDraw: function(chartInstance, easing) {
            // To only draw at the end of animation, check for easing === 1
            var ctx = chartInstance.chart.ctx;

            chartInstance.data.datasets.forEach(function (dataset, i) {
                var meta = chartInstance.getDatasetMeta(i);
                if (!meta.hidden) {
                    meta.data.forEach(function(element, index) {
                        // Draw the text in black, with the specified font
                        ctx.fillStyle = 'rgb(256, 256, 256)';

                        var fontSize = 14;
                        var fontStyle = 'normal';
                        var fontFamily = 'Helvetica Neue';
                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                        // Just naively convert to string for now
                        var dataString = dataset.data[index].toString();

                        // Make sure alignment settings are correct
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'middle';

                        var padding = 5;
                        var position = element.tooltipPosition();
                        ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                    });
                }
            });
        }
    });
  </script>

  {% for rep, value in report.items %}
    <script>
    var ctx = document.getElementById('report-{{rep.id}}').getContext('2d');
    Chart.defaults.global.legend.display = false;
    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: [{% for i in value %}'{{ i.subject }} ({{i.department.name}})', {% endfor %}],
            datasets: [{
                label: '{{rep.title}}',
                data: [{% for i in value %}{{ i.total }},{% endfor %}],
                backgroundColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(26,206,197, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(242, 93, 12, 1)',
                    'rgba(15, 136, 172, 1)',
                    'rgba(255, 50, 50, 1)',
                    'rgba(174, 254, 87, 1)',
                    'rgba(62, 54, 109, 1)',
                    'rgba(255, 255, 1, 1)',
                    'rgba(0, 255, 0, 1)',
                    'rgba(255, 0, 255, 1)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(26,206,197, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(242, 93, 12, 1)',
                    'rgba(15, 136, 172, 1)',
                    'rgba(255, 50, 50, 1)',
                    'rgba(174, 254, 87, 1)',
                    'rgba(62, 54, 109, 1)',
                    'rgba(255, 255, 1, 1)',
                    'rgba(0, 255, 0, 1)',
                    'rgba(255, 0, 255, 1)',
                ],
                borderWidth: 1
            }]
        },
        
    });
    Chart.plugins.register({
          afterDatasetsDraw: function(chartInstance, easing) {
              // To only draw at the end of animation, check for easing === 1
              var ctx = chartInstance.chart.ctx;

              chartInstance.data.datasets.forEach(function (dataset, i) {
                  var meta = chartInstance.getDatasetMeta(i);
                  if (!meta.hidden) {
                      meta.data.forEach(function(element, index) {
                          // Draw the text in black, with the specified font
                          ctx.fillStyle = 'rgb(256, 256, 256)';

                          var fontSize = 14;
                          var fontStyle = 'normal';
                          var fontFamily = 'Helvetica Neue';
                          ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                          // Just naively convert to string for now
                          var dataString = dataset.data[index].toString();

                          // Make sure alignment settings are correct
                          ctx.textAlign = 'center';
                          ctx.textBaseline = 'middle';

                          var padding = 5;
                          var position = element.tooltipPosition();
                          ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                      });
                  }
              });
          }
      });
    </script>
  {% endfor %}

  <script type="text/javascript">
    $('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 5000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
  </script>
  

{% endblock %}
